# Julia files
*.jl

# Large data files
*.h5
*.mp4


# Python cache
__pycache__/
*.pyc
*.pyo

# Model outputs
stentor_cnn/outputs/
stentor_cnn/output/
*.pt
*.onnx
*.pth
*.png
*.npz

# Mac junk
.DS_Store
.sixth/

# Jupyter
*.ipynb_checkpoints

# Virtual environments
venv/
env/
.env
*.npy
data/
logs/
results/
*.pt

